$font-main: "Permanent Marker", cursive;
$font-second: "Signika", sans-serif;
$color-highlight: #aff8db;
$background-color: #d5aaff;
$dark-highlight: #3c456e;
$background-visit: #ffc0cb;
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-second;
  font-weight: 500;
  text-shadow: $dark-highlight 2px 3px;
}
body {
  background: rgb(251, 10, 10);
  background: linear-gradient(
    90deg,
    rgba(251, 10, 10, 1) 0%,
    rgba(255, 154, 0, 1) 100%
  );
}

.header {
  font-size: 5rem;
  margin: 3rem auto;
  text-align: center;
}
.directions {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3rem;
}
.container-fluid {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50rem;
  width: 50rem;
  justify-content: center;
  align-items: center;
  .pic {
    left: 30%;
    position: relative;
  }
}

.content {
  text-align: center;
}

.options {
  text-align: center;
}

input {
  vertical-align: baseline;
}

button {
  border-radius: 0.5rem;
  cursor: pointer;
}

input,
button {
  border-radius: 1rem;
}
.info {
  font-size: 2rem;
  font-weight: bold;
}
