@import "_variables.scss";

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  color: white;
  font-family: $font-main;
  font-weight: 500;
  text-shadow: $dark-highlight 2px 3px;
}
body {
  background: linear-gradient(90deg, $gradient-first 0%, $gradient-second 100%);
}

.header {
  margin: 1rem auto;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
}
.directions {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
}
.container-fluid {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  text-align: center;
  line-height: 2rem;
}

.options {
  text-align: center;
  margin: 2rem auto;
  font-size: 2rem;
}

input {
  vertical-align: baseline;
}

input,
button {
  border-radius: 1rem;
  cursor: pointer;
}
.info {
  font-size: 1.5rem;
  //font-weight: bold;
}
